
.h3_pl {
    padding-top: 2vh;
    padding-bottom: 0;
}

.ul_pl {
    padding-left: 3%;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
}

ol {
    padding-left: 2%;
    padding-top: 10px;
}

.h3_pattern {
    padding-top: 2vh;
    padding-bottom: 0;

    font-size: 18px;
}